Repository Storbiic/ETL_Dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

feat: add manual workflow dispatch to GitHub Actions
  .github/workflows/python-app.yml
Due: none

fix: resolve test linting issues for CI/CD pipeline
  frontend/app.py
  tests/conftest.py
  tests/test_api_integration.py
  tests/test_cleaning.py
  tests/test_enhanced_plant_status.py
  tests/test_masterbom_rules.py
  tests/test_profiler.py
Due: unittests, integration

remove: GitHub Actions CI/CD integration and related files
  .codecov.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/python-app.yml
  Makefile
  README.md
  docker-compose.test.yml
  pyproject.toml
  tests/test_enhanced_plant_status.py
Due: none

cleanup: remove all deployment-related files and configurations
  .env.vercel
  VERCEL_DEPLOY.md
  api/files.py
  api/health.py
  api/index.py
  api/preview.py
  api/profile.py
  api/test-styling.py
  api/test-upload.py
  api/transform.py
  api/upload.py
  index-local.html
  package.json
  requirements-vercel.txt
  start_render.sh
  vercel.json
  vercel_styled_preview.html
  vercel_test_styling.html
Due: none

Fixes Docker files to use requirements.txt instead of requirements-full.txt and updates exposed ports to 3000 for both frontend and backend.
  Dockerfile.backend
  Dockerfile.frontend
  docker-compose.yml
  requirements.txt
Due: none

feat: enhance Docker setup with initialization script and cross-platform directory handling
  Dockerfile.backend
  Dockerfile.frontend
  docker-compose.yml
  frontend/app.py
Due: unittests

fix: resolve Flask BuildError for 'index' endpoint
  frontend/app.py
Due: unittests

feat: add initialization script for directory setup and permissions in Dockerfile
  Dockerfile.backend
  docker-init.sh
Due: none

fix: resolve Docker build and cross-platform path issues
  Dockerfile.frontend
  backend/main.py
  backend/services/storage.py
Due: unittests

refactor: simplify Dockerfile command and update docker-compose for consistency
  Dockerfile.frontend
  docker-compose.yml
  docker-init.sh
Due: none

chore: add Yazaki attribution to LICENSE file
  LICENSE
Due: none

fix: update Dockerfile to improve Python dependency installation and set Flask port to 8080
  Dockerfile.frontend
  frontend/app.py
Due: unittests

feat: update Dockerfile and application configuration for GCP Cloud Run compatibility, including dynamic port handling and improved deployment scripts
  Dockerfile.frontend
  GCP_DEPLOYMENT_GUIDE.md
  GCP_FIX_SUMMARY.md
  deploy-backend-only.ps1
  deploy-frontend-gcp.ps1
  deploy-frontend-gcp.sh
  deploy-frontend-only.ps1
  deploy-gcp.ps1
  deploy-gcp.sh
  frontend/app.py
  test_gcp_config.py
Due: unittests

feat: cleaning phase removing unsed file ( testing files, md )
  Dockerfile.frontend
  GCP_DEPLOYMENT_GUIDE.md
  GCP_FIX_SUMMARY.md
  backend/services/dax_generator.py
  pyproject.toml
  test_backend.py
  test_gcp_config.py
Due: unittests

feat: enhance GCP deployment scripts and frontend functionality with intelligent sheet filtering and improved user experience
  deploy-frontend-gcp.sh
  deploy-gcp.sh
  frontend/app.py
  frontend/static/js/app.js
  frontend/templates/base.html
  frontend/templates/index.html
Due: unittests

feat: update docker-compose and frontend scripts for port alignment and conditional initialization
  docker-compose.yml
  docker_build.sh
  docker_cleanup.sh
  docker_deploy.sh
  frontend/static/js/app.js
  frontend/templates/index.html
  frontend/templates/profile.html
Due: unittests

feat: update frontend to use consistent FASTAPI_URL for local and production environments, suppress Tailwind CDN warnings, and add comprehensive ETL workflow documentation
  .gitignore
  ETL_WORKFLOW_DOCUMENTATION.md
  frontend/app.py
  frontend/static/js/app.js
  frontend/templates/base.html
  frontend/templates/preview.html
  frontend/templates/results.html
Due: unittests

Path conditions:
  unittests: any of: backend/, frontend/
  integration: any of: tests/test_api_integration.py
